/* responsive for the phones */
@media (max-width: 900px) {
    .content {
        font-size: 16px;
        height: auto;
    }

    .chloepic {
        height: 100vh;
        width: auto;
    }

    .content h3 {
        padding-bottom: clamp(100px, 1vw, 150px) !important;
        padding-top: 23vh;
        text-align: left;
    }

    .intro-grid-container {
        display: grid;
        grid-template-columns: 1fr !important;
        /* one column */
        width: 80vw;
        column-gap: 5vw;
    }

    .intro-grid-container img {
        width: 50vw !important;
    }

    .content h4 {
        text-align: left !important;
        padding-left: 10px;

    }

    .contact-grid img {
        width: 20vw !important;
        /* padding-left: 7vw; */
        padding-top: 50px;
    }
}



body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #796FEA;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;



}

@font-face {
    font-family: Maleha;
    src: url(maleha.regular.ttf);
}

.chloepic {
    position: absolute;
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
    top: 0;
    right: 0;
    z-index: -1000;
    width: auto;
    height: 101vh;
    border-radius: 0;
    overflow-x: hidden;
}

.introtext {
    color: #162946;
    margin-right: 30vw;
    margin-top: 5vh;
    border-radius: 10px;
    position: relative;
}

.intro-grid-wrapper {
    background-image: url('gridpaper4.png');
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100vw !important;
    top: 0;
    left: 0;
    margin-top: clamp(100px, 3vw, 150px);
}

.intro-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 80vw;
    column-gap: 5vw;
}

.intro-grid-container img {
    width: 40vw;
    padding-left: 7vw;
    padding-top: 50px;
}

.gridpaper {
    z-index: -1000;
}

.contact-grid {
    display: grid;
    grid-template-columns: auto auto;
    width: 100vw;
    column-gap: 5vw;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}

.contact-grid p {
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-right: 10%;
    padding-top: 1vw;
    text-align: center;
    color: #DEEEFC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    padding-left: 3%;
}

.contact-grid img {
    width: 10vw;
    padding-top: 50px;
}

.linkedinPic {
    padding-bottom: 50px;
}


.content {
    color: #DEEEFC;
    padding-top: 1%;
    padding-bottom: 1vh;
    margin-top: 0;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
}

.content h1 {
    font-size: 15vw;
    padding-left: 6%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-right: 30%;
    padding-bottom: 3vh;
    font-family: Maleha;
    z-index: 100;
}

.content h2 {
    font-size: 1em;
    padding-right: 20%;
    padding-bottom: 5vh;
    font-family: Maleha;
    font-style: italic;
    padding-left: 5%;
}

.content h3 {
    font-size: 1.5em;
    padding-right: 20%;
    font-family: Maleha;
    font-style: italic;
    padding-left: 6%;
    padding-top: 30px;
}

.introtext h4 {
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-right: 10%;
    padding-top: 1vw;
    text-align: right;
    color: #DEEEFC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    padding-left: 3%;
}

.dividers h4 {
    margin-top: 5vw;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #DEEEFC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 1.2em;
    background-image: url('gridpaper4.png');
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
}

.dividers p {
    color: #DEEEFC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.dividers img {
    width: 16vw;
    max-height: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 0px;
    overflow-y: hidden;
    border: 0;
}

.image-table h5 {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 0px;
    font-style: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #DEEEFC;
    padding-left: 3%;
}

.image-table h6 {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 0px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #DEEEFC;
    padding-left: 3%;
}

.contact {
    max-height: 20vh !important;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.section {
    min-height: 60vh;
    padding: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #11101c;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.section h2 {
    font-size: 2em;
    color: #162946;
    font-family: Maleha;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.section h1,
.section h2 {
    margin: 0;
}

.section p {
    margin: 0;
    padding-top: 5px;
    font-family: Maleha;
    font-style: italic;
    color: #162946;
}

.sticky-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    text-align: left;
    font-family: Maleha;
}

.sticky-menu ul {
    list-style: none;
    padding: 0;
}

.sticky-menu li {
    margin-bottom: 10px;
}

.sticky-menu a {
    text-decoration: none;
    color: rgb(51, 30, 0);
    font-weight: bold;
    font-size: clamp(12px, 1.5vw, 16px);
    transition: color 0.3s ease-in-out;
    text-align: right;
}

.sticky-menu a:hover {
    color: #DEEEFC;
}

.footer {
    margin-top: 10vh;
    width: 100%;
    color: #DEEEFC;
    text-align: center;
    padding: 10px;
    padding-top: 10%;
    font-family: Maleha;
    font-size: 12px;
    background-image: url('footerpic3.png');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -2000;
}

.image-table {
    width: 100%;
    margin-top: 20px;
}

.table-cell {
    transition: transform 0.3s ease;

}

.table-cell:hover {
    transform: scale(1.1);
    /* ^^ scale the image up by 10% when hovered over */
}

.image-table p {
    margin-top: 10px;
    font-size: 18px;
    text-align: left;
    border-radius: 0px;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #DEEEFC;
    padding-left: 10%;
    padding-right: 10%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #00000000;
}

td {
    text-align: center;
    padding: 10px;
    border: 0;
}

/* the images in the main tables, below: */
img {
    width: 18vw;
    max-height: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 0px;
    overflow-y: hidden;
    border: 0;
}

#firstTable,
#secondTable,
#thirdTable,
#fourthTable,
#fifthTable,
#sixthTable,
#seventhTable,
#eighthTable,
#ninthTable,
#tenthTable,
#eleventhTable,
#twelvthTable {
    margin-top: 10vh;
    width: 40vw;
}

.expanded-image {
    width: auto;
    height: 25vw;
    display: block;
    margin: 0 auto;
    border-radius: 0px;
    overflow-y: hidden;
}